.title{
  width: 100%;
  height: 200px;
  background-color: rgb(176, 224, 230);
  display: grid;
  align-items: center;
  justify-content: center;
}

.body-part{
  /* background-color: rgb(255, 218, 185); */
  background-color: rgb(255, 182, 193);
  width: 98%;
  min-height: 850px;
  height: auto;
  padding: 1%;
}

.text-box{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: border-color 0.3s;
}

.text-box:focus {
  border-color: dodgerblue;
}

.title-text{
  margin-left: 35%;
  color: rgb(35, 87, 117);
}

.button-container {
  display: flex;
}

.button{
  display: inline-table;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  margin-right: 10px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

.button:hover {
  background-color: #2980b9;
}

/* Errors */

.error{
  color: red;
}

/* Inputs */

.search-input {
  width: 10%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  font-size: 16px;
}

.proj-input{
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  font-size: 16px;
}

.proj-input-details{
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  font-size: 16px;
  
}


.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

/* Project cards */

.project-card {
  display: flex;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  width: 580px;
  height: 200px;
  background: rgba(255, 255, 255, 0.8); 
}

.project-card:hover {
  transform: scale(1.01); 
}

.project-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.project-details {
  padding: 10px;
  padding-left: 10px;
  margin-left: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.project-card:hover .project-details {
  opacity: 1; 
}

.project-title {
  font-size: 1.3rem;
  margin-bottom: 8px;
  padding-left: 10px;
  color: black;
}

/* Buttons */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createProj-button{
  display: block;
  background-color: rgb(4, 160, 4);
  color: black;
  width: 500px;
  height: 50px;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  margin-bottom: 10px;
}

.createProj-button:hover{
  transform: scale(0.96);
  background-color: rgb(5, 119, 5);
}

.deleleProj-button{
  display: block;
  background-color: rgb(216, 3, 3);
  color: black;
  width: 500px;
  height: 50px;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  margin-bottom: 10px;
}

.deleleProj-button:hover{
  transform: scale(0.96);
  background-color: rgb(180, 1, 1);
}

.updProj-button{
  display: block;
  background-color: rgb(43, 203, 214);
  color: black;
  width: 500px;
  height: 50px;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  margin-bottom: 10px;
}

.updProj-button:hover{
  transform: scale(0.96);
  background-color: rgb(21, 144, 153);
}

.createProj-button{
  display: block;
  background-color: rgb(4, 160, 4);
  color: black;
  width: 500px;
  height: 50px;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  margin-bottom: 10px;
}

.button-save {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  color: #ffffff;
  background-color: #3498db;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.button-save:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}


/* Other */

.modal form label,
.modal form input,
.modal form button {
  display: block;
  margin-bottom: 10px;
}

.modal{
  background-color: #ccc;
  width: 300px;
  border-radius: 50px;
  display: inline-block;
  margin-right: 20px;
}

.modal-name{
  margin-left: 25%;
}

/* Select container */

.select-container {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  width: 160px;
}

.select-container select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 160px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-container::after {
  content: '\25BC'; 
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-container select option {
  padding: 10px;
}
